[Unit]
Description=Multitouch gestures with libinput driver on Linux
After=default.target
Requires=default.target

[Service]
ExecStart=/usr/bin/fusuma
Restart=on-failure
RestartSec=2
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target
