[Desktop Entry]
Version=1.0
Type=Application
Name=Install Blue95
Comment=Rebase to Blue95
Exec=xfce4-terminal -e "/usr/libexec/winblues-installer blue95"
Icon=system-installer
Terminal=false
Categories=System;Utility;
StartupNotify=true
